html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Playfair Display", serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}
.container {
    width: 900px;
    margin: 0 auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}

/* Site navigation */
.menu {
    padding: 45px 0;
}

.main-menu {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width:900px;
    text-align: center;
    /* font-size: 0; */
}

.main-menu li {
    display: inline-block; 
    color: #626262;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}
.main-menu li:not(:last-child) {
    margin-right: 60px;
}
.main-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    line-height: 24px;
}

.main-menu a:hover,
.main-menu a:focus {
    color: #03a9f4;
}

 /* Основной контент */
 .info-block {
    list-style: none; 
    margin:0;
    padding: 0;
    /* font-size: 0; */
}

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }
 .subtitle {
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    line-height: 17px;
    color: #c7c1b6;
    margin-bottom: 20px;
}

.header {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}

.info-block-article {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
}

.article:nth-child(2n+2) {
    margin-right: 0;
}

.article:nth-child(2n+1) {
    margin-right: 0;
}

.article:nth-child(-n+2) {
    margin-bottom: 0;
}

.article:nth-child(2n) {

}





button {
    display: block;
    width: 163px;
    height: 59px;
    font-size: 20px;
    margin: 0 auto ;
   }


/* * {
    outline: 1px solid red;
} */
