body {
    font-family: "Playfair Display", serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}
.menu nav {
    display: inline-block;
    margin: auto;
}
.main-menu {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: auto;
    padding-inline-start: 130px;
}

.menu-item {
    text-align: center;
    display: inline-block;
}

.menu-item-link {
    display: block;
    width:113px;
    color: #626262;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    
    padding: 10px;
    text-align: center;
    margin: 0px 30px;
}

.menu-item-link:hover {
    color: #03a9f4;
}
 /* Основной контент */
.info-block {
    list-style: none; 
    margin: 0;
    padding: 0px;
}

.article {
    display: inline-block;
    vertical-align: top;
    width: 420px;
    margin: 85px 60px 0;
    
}
.subtitle {
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    line-height: 17px;
    color: #c7c1b6;
    width: 420px;
    margin-left: 0px;
    padding: 25px 0px;
}

.header {
    font-size: 30px;
    line-height: 36px;
    width: 420px;
    padding: 0px 0px 15px;
}

.text {
    padding: 15px 0 0 0;
} 



/* * {
    outline: 1px solid red;
} */




















