body {
    font-family: "Playfair Display", serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}
.container {
    width: 900px;
    margin: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}

.menu nav {
    display: inline-block;
    margin: auto;
}
.main-menu {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: auto;
    /* font-size: 0; */
}

.menu-item {
    text-align: center;
    display: inline-block;
}

.menu-item:not(:last-child) {
    margin-right: 60px;
}
.menu-item-link {
    display: block;
    color: #626262;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    padding: 10px;
    text-align: center;
}

.menu-item-link:hover {
    color: #03a9f4;
}
 /* Основной контент */
.info-block {
    list-style: none; 
    margin: 0;
    padding: 0px;
    /* font-size: 0; */
}

.article {
    margin-right: 60px;
    margin-bottom: 60px;
}

.article:nth-child(2n+2) {
    margin-right: 0;
    float: right;
    width: 50%;
}

.article:nth-child(2n+1) {
    margin-right: 0;
    float: left;
    width: 50%;
}

.article:nth-child(-n+2) {
    margin-bottom: 0;
}

.article:nth-child(2n) {

}
.subtitle {
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    line-height: 17px;
    color: #c7c1b6;
    margin-bottom: 20px;
}

.header {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}


button {
    display: block;
    width: 163px;
    height: 59px;
    font-size: 20px;
    margin: auto;
   }


/* * {
    outline: 1px solid red;
} */
